.dashboard {
  font-family: 'Raleway', sans-serif;
  margin-top: 50px;

  h1 {
    font-family: 'Pompiere', cursive;
    font-size: 50px;
    border-bottom: $border-shadow;
  }
  h2 {
    background: $purple;
    color: $white;
    margin: 0;
    padding: 10px 0;
  }

  #calendar {
    width: 680px;  
  }

  .current-lessons {
    border: 1px $purple solid;
  }

  .currentItem {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px $gray solid;
    display: block;
    text-align: left;
    margin: 0px;
    padding: 5px;
  }
    p {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .student-name {
      display: inline-block;
    }

    .lesson-buttons {
      display: inline-block;
      float: right;
      display: flex;
      height: 57px;
      position: relative;
      flex-direction: column;
      justify-content: space-around;
      align-items: stretch;
    }
    button {
      font-size: 20px;
      color: $purple;
      height: 100%;
    }
  .students {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
  }
  .student-list {
    border: 1px $purple solid;
    padding: 0px;
    margin:0;
    width: 100%;
  }
}
