
//  Item background Colors:
  $purple: rgb(78, 72, 149);
  $orange: rgb(255, 91, 1);
  $teal: rgb(42, 111, 136);
  $gray: rgb(184, 186, 203);
  $white: rgb(254, 254, 254);
  $lighter: 20%;

  $black-border: 1px solid black;

  $body-background: $white;
  $login-background: $gray;
  $title-color: $purple;

a {
  text-decoration: none;
  color: black;
  font-family: 'Raleway', sans-serif;
  transition: 0.5s;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  background-color: $white;
}

.login {
  font-size: 2em;
  padding: 20px 10px;
  margin-left: 20px;
  margin-top: 20px;
  background: $login-background;
  border-radius: 10px;
  border-bottom: 4px solid lighten($login-background, $lighter);
  display: inline-block;
}

.navbar {
  border-bottom: 1px solid black;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
}

.navbar ul {
  list-style-type: none;
//  border: $black-border;
}

.navbar li {
  display: inline-block;
  padding: 15px 30px;
  margin-right: 10px;
  text-align: center;
  background: $login-background;
  border-radius: 10px;
  border-bottom: 4px solid lighten($login-background, $lighter);
  display: inline-block;
//  border: $black-border;
}

.container {
  display: flex;
}

.logo {
  height: 100px;
}

#title {
  font-size: 15vw;
  color: $title-color;
  font-family: 'Pompiere', cursive;
}
a.hide, li.hide {
  display: none;
}
