.navbar {
  border-bottom: 1px solid black;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  vertical-align: middle;
}

.navbar ul {
  margin: 0 auto;
  height: auto;
}

.navbar li {
  /*
  display: inline-block;
  padding: 15px 30px;
  height: 20%;
  text-align: center;
  background: $login-background;
  border-radius: 10px;
  border-bottom: 4px solid lighten($login-background, $lighter);
  &:active {
    border-bottom: none;
  }
  border: $black-border;
  */
}

.rightNav{
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-content: center;
}

.logo {
  height: 100px;
  margin: 10px;
}

.logo img {
  width: 100%;
  height: auto;
}

header p {
  border: $black-border
}
