.navbar {
  border-bottom: 1px solid black;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  vertical-align: middle;
  box-shadow: $border-shadow;
}

.navbar ul {
  margin: 0 auto;
  height: auto;
}

.logo {
  height: 100px;
  margin-top: 10px;
  margin-left: 40px;
}

.logo img {
  width: 100%;
  height: auto;
}

header p {
  border: $black-border
}

#dashboard {
  font-size: 1.6em;
}
