.navbar {
  border-bottom: 1px solid black;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  vertical-align: middle;
  box-shadow: $border-shadow;
}

.navbar ul {
  margin: 0 auto;
  height: auto;
}

.rightNav{
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-content: center;
}

.logo {
  height: 100px;
  margin: 10px;
}

.logo img {
  width: 100%;
  height: auto;
}

header p {
  border: $black-border
}
