//  Item background Colors:
  $purple: rgb(78, 72, 149);
  $orange: rgb(255, 91, 1);
  $teal: rgb(42, 111, 136);
  $black: #333;
  $gray: rgb(184, 186, 203);
  $white: rgb(254, 254, 254);
  $lighter: 20%;

  $black-border: 1px solid #ddd;
  $default-color: $black;

  $body-background: $white;
  $login-background: $gray;
  $navbar-background: $white;
  $title-color: $purple;
